<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="morecon.datasource.reservation.RequestMapper">

  <sql id="requestCore">
    SELECT
      識別番号 AS "requestNumber.value",
      説明 AS "remarks.value",
      日付 AS date,
      開始時刻 AS startTime
    FROM 予約.依頼
  </sql>
  <select id="findBy" resultType="morecon.domain.model.reservation.Request">
   <include refid="requestCore"></include>
    WHERE 識別番号 = #{value}
  </select>

  <select id="listAll" resultType="morecon.domain.model.reservation.Request">
    <include refid="requestCore"></include>
    ORDER BY 日付 DESC
  </select>

  <insert id="register">
    INSERT INTO 予約.依頼
        (識別番号, 説明, 日付, 開始時刻)
    VALUES
    (
       #{requestNumber.value},
      #{remarks.value},
       #{date},
       #{startTime}
    )
    ;
  </insert>
</mapper>