<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="morecon.datasource.order.OrderMapper">
    <insert id="register">
        INSERT INTO 注文.注文
            (注文id, 購入者氏名)
        VALUES(
            #{orderId.value},
            #{attempt.purchaser.name}
        );
        INSERT INTO 注文.お届け先
            (注文id, 郵便番号, 住所, 電話番号, お届け先名)
        VALUES(
            #{orderId.value},
            #{attempt.shipping.zipcode},
            #{attempt.shipping.address},
            #{attempt.shipping.tel},
            #{attempt.shipping.name}
        );
    </insert>

    <select id="newOrderId" resultType="Integer">
        SELECT nextval('注文.注文id');
    </select>

    <sql id="orderCore">
        SELECT
            注文.注文id as "orderId.value",
            購入者氏名 as "purchaser.name",
            郵便番号 as "shipping.zipcode",
            住所 as "shipping.address",
            電話番号 as "shipping.tel",
            お届け先名 as "shipping.name"
        FROM
            注文.注文
            LEFT JOIN
                注文.お届け先
                ON 注文.注文id = お届け先.注文id
            INNER JOIN
                注文.注文明細
                ON 注文.注文id = 注文明細.注文id
    </sql>

    <select id="findBy" resultMap="orderResult">
        <include refid="orderCore"></include>
        WHERE
            注文.注文id = #{orderId.value}
    </select>
    <select id="listAll" resultMap="orderResult">
        <include refid="orderCore"></include>
    </select>

    <resultMap type="morecon.domain.model.order.Order" id="orderResult">
        <id column="注文id" property="orderId.value"/>
        <collection property="lines" ofType="morecon.domain.model.order.Lines">
            <collection property="list" javaType="ArrayList" ofType="morecon.domain.model.order.Line">
                <result column="注文明細id" property="orderLineId.value"/>
            </collection>
        </collection>
    </resultMap>
</mapper>